<div class="row">
    <div class="col-7">
        <img src="assets/img/prueba.jpeg" alt="">
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre  {{motherboard.name}}</li>
                    <li class="list-group-item">Socket  {{motherboard.socket}}</li>
                    <li class="list-group-item">Chipset  {{motherboard.chipset}}</li>
                    <li class="list-group-item">Fabricante  {{motherboard.fab}}</li>
                    <li class="list-group-item">Formato {{motherboard.format}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Socket</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cpu of cpuCompatibles,index as i">
            <th scope="row">{{i+1}}</th>
            <td><a>{{cpu.name}}</a></td>
            <td>{{cpu.socket}}</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Port</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gpu of gpuCompatibles,index as i">
            <th scope="row">{{i+1}}</th>
            <td><a>{{gpu.name}}</a></td>
            <td>{{gpu.port}}</td>
        </tr>
    </tbody>
</table>
</div>    