
<div class="container">
    <div class="row">

    <div class="col-6">
            <table class="table text-center table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let thing of todo">
                    <td>{{ thing.name }}</td>
                    <td>
                      <button class="btn btn-danger" (click)="deleteThing(thing)">
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
