<section id="acerca-de">
  <div class="contenido-seccion">
    <div class="container">
      <div class="col-md-6">
        <div class="texto-acerca-de">
          <h3>Motherboard</h3>
          <p class="lead">parakjdflkadsjlkfjdsalkf Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugit eos, illum quidem beatae excepturi perferendis corporis. Nam a tempora debitis eum consequuntur, molestias, aliquam nesciunt labore, alias similique accusantium. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, delectus. Hic repudiandae, ducimus sequi repellat molestias placeat numquam ullam inventore fugit minus nostrum sapiente perspiciatis dignissimos quia possimus esse vitae?</p>
    
          <h3>sigueme</h3>
          <a href="https://www.facebook.com" class="btn btn-sm btn-secondary-outline">Facebook</a>
          <a href="https://www.twitter.com" class="btn btn-sm btn-secondary-outline">Twitter</a>
          <a href="https://www.instagram.com" class="btn btn-sm btn-secondary-outline">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</section>    