<div class="row">
  <div class="col-4">
    <form >
      
      <div class="form-group">
        <label for="nombre"></label>
        <input #nombre type="text" id="nombre" placeholder="Ingrese el nombre">
      </div>
      <button class="btn btn-danger"(click)="funciona(nombre.value)">submit</button>
      <div class="form-group" >
        <label for="multipleSelection">Elige socket</label>
        <br>
        <select class="selectpicker" (change)="update($event)" id="multipleSelection">
          <option></option>
          <option>LGA 1151-v2</option>
          <option>LGA 1151</option>
          <option>AM4</option>
        </select>
        <br>
        <label for="chipsetSelection">Elige chipset</label>
        <br>
        <select class="selectpicker" (change)="update($event)" id="chipsetSelection">
          <option></option>
          <option>AMD A320</option>
          <option>Intel H270</option>
          <option>Intel H310</option>
        </select>
        <br>
        <label for="formatSelection">Elige Formato</label>
        <br>
        <select class="selectpicker" (change)="update($event)" id="formatSelection">
          <option></option>
          <option>Micro ATX</option>
          <option>ATX</option>
        </select>
      </div>
      <div>    
      </div>
    </form>
  </div>
  <div class="col-8 ">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Socket</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mother of motherboarsFilter,index as i">
          <th scope="row">{{i+1}}</th>
          <td><a [routerLink]="['details/',mother._id]">{{mother.name}}</a></td>
          <td>{{mother.socket}}</td>
          <td><a [routerLink]="['compare/',mother._id]">compare</a></td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>

  