<div class="row">
  <div class="col-4">
    <form >
      
      <div class="form-group">
        <label for="nombre"></label>
        <input #nombre type="text" id="nombre" placeholder="Ingrese el nombre">
      </div>
      <button class="btn btn-danger"(click)="funciona(nombre.value)">submit</button>
      <div class="form-group">
        <label for="multipleSelection">Elige alguna wea</label>
        <select (change)="update($event)" class="form-control" id="multipleSelection">
          <option>AMD</option>
          <option>INTEL</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-8 ">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Socket</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mother of motherboarsFilter,index as i">
          <th scope="row">{{i+1}}</th>
          <td><a [routerLink]="['details/',mother._id]">{{mother.name}}</a></td>
          <td>{{mother.socket}}</td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>

  