
<form class="form-signup">
    <h3>Welcome to Pinostock</h3>
  <h2 class="form-signin-heading">Please signup</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
     <input name="name" [(ngModel)] = "user.name" type="text" id="inputName" class="form-control" placeholder="name address" required autofocus>
     <input name="username" [(ngModel)] = "user.username" type="text" id="inputUsername" class="form-control" placeholder="username address" required autofocus>
     <label for="inputPassword" class="sr-only">Password</label>
     <input name="password" [(ngModel)] = "user.password" type="text" id="inputPassword" class="form-control" placeholder="Password" required>
     <div class="checkbox">
       <label>
         <input type="checkbox" value="remember-me"> Remember me
       </label>
     </div>
<button class="btn btn-primary" (click)="insert()" type="button">Sign up!!!!</button><br><br>
<input type="button" class="btn btn-success" onClick="location.href=  'http://localhost:4200'" value="Sign in??">

</form>