<div class="row">
  <div class="col-4col-lg">
    <div class="card">
      <div class="card-body">
        <form >
        <div class="form-group">
          <label for="nombre"></label>
          <input #nombre type="text" id="nombre" placeholder="Ingrese el nombre">
        </div>
        <button class="btn btn-danger"(click)="search(nombre.value)">submit</button>
        <div class="form-group" >
          <label for="memorySelection">Elige cantidad de memoria</label>
          <br>
          <select class="selectpicker" (change)="select($event)" id="memorySelection">
            <option></option>
            <option>2GB GDDR5</option>
            <option>4GB GDDR5</option>
          </select>
          <br>
          <label for="fabSelection">Elige Fabricante</label>
          <br>
          <select class="selectpicker" (change)="select($event)" id="fabSelection">
            <option></option>
            <option>MSI</option>
            <option>EVGA</option>
            <option>Zotac</option>
          </select>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8 col-lg">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Puerto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let gpu of gpusFilter, index as i">
          <th scope="row">{{i+1}}</th>
          <td><a [routerLink]="['details/',gpu._id]">{{gpu.name}}</a></td>
          <td>{{gpu.puerto}}</td>
          <td><a [routerLink]="['compare/',gpu._id]">compare</a></td>
        </tr>
      </tbody>
    </table>  
  </div>
</div>