<body class="container"background="assets/img/fondo2-bg.jpg">
<section id="cover">
    <div id="cover-texto">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <h1 class="display-3">Pinostock</h1>
            <p>Una app de The Momazos Inc </p>
            </div>
        </div>
        </div>
    </div>
 </section>
 

 <section id="empresa">
        <div class="contenido-seccion">
          <div class="container">
            <br>
            <h2>PinoStock, de Los Momazos para ti</h2>
            <br>
            <p class="lead"></p>
            
            <div class="row">
              <div class="col-sm-12">
                  <div class="card-group">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">ASRock H310-G/M.2</h5>
                          <p class="card-text"><a href="http://localhost:4200/motherboard/details/5b6b31c837427834f713682e">Averigua mas acerca de esta increible placa madre</a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/prueba.jpeg" alt="Card image cap">
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Intel Celeron G3930</h5>
                          <p class="card-text">Quieres saber mas aceca de este procesador?<a href="http://localhost:4200/cpu/details/5b6b31bf37427834f7136823"> Haz click.</a></p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/g3930.jpg" alt="Card image cap">
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">NVIDIA GeForce Aero ITX 1030</h5>
                          <p class="card-text">Que increible tarjeta<a href="http://localhost:4200/gpu/details/5b6b31c337427834f7136829"> click aca</a> para saber más.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/atx1030.jpg" alt="Card image cap">
                      </div>
                    </div>

              </div>
            </div>
          </div>
        </div>
</section>
<br>
<section id="acerca-de">
        <div class="contenido-seccion">
          <div class="container">
            <div class="col-md-6">
              <div class="texto-acerca-de">
                <h3>MSI A320 Gaming Pro</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugit eos, illum quidem beatae excepturi perferendis corporis. Nam a tempora debitis eum consequuntur, molestias, aliquam nesciunt labore, alias similique accusantium. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, delectus. Hic repudiandae, ducimus sequi repellat molestias placeat numquam ullam inventore fugit minus nostrum sapiente perspiciatis dignissimos quia possimus esse vitae?</p>
          
                <h3>Síguenos</h3>
                <a href="https://www.facebook.com" class="btn btn-sm btn-secondary-outline">Facebook</a>
                <a href="https://www.twitter.com" class="btn btn-sm btn-secondary-outline">Twitter</a>
                <a href="https://www.instagram.com" class="btn btn-sm btn-secondary-outline">Instagram</a>
              </div>
            </div>
          </div>
        </div>
</section>
<br>
</body>