<section id="cover">
    <div id="cover-texto">
        <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <h1 class="display-3">Pinostock</h1>
            <p>Una app de The Momazos Inc </p>
            </div>
        </div>
        </div>
    </div>
 </section>
 

 <section id="empresa">
        <div class="contenido-seccion">
          <div class="container">
            <h2>Intel's Coffee Lake</h2>
            
            <p class="lead">Intel's Coffee Lake architecture represents the company's biggest generational improvement in more than a decade. Specifically, though, its Core i3 models benefit most. In the past, Core i3 chips wielded two Hyper-Threaded cores. But Coffee Lake-based i3s sport four physical cores. On paper, that makes them roughly equivalent to Kaby Lake-based Core i5s at lower prices.</p>
            
            <div class="row">
              <div class="col-sm-12">
                  <div class="card-group">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/prueba.jpeg" alt="Card image cap">
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/prueba.jpeg" alt="Card image cap">
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img class="card-img-top" src="assets/img/prueba.jpeg" alt="Card image cap">
                      </div>
                    </div>

              </div>
            </div>
          </div>
        </div>
</section>

<section id="acerca-de">
        <div class="contenido-seccion">
          <div class="container">
            <div class="col-md-6">
              <div class="texto-acerca-de">
                <h3>Motherboard</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugit eos, illum quidem beatae excepturi perferendis corporis. Nam a tempora debitis eum consequuntur, molestias, aliquam nesciunt labore, alias similique accusantium. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, delectus. Hic repudiandae, ducimus sequi repellat molestias placeat numquam ullam inventore fugit minus nostrum sapiente perspiciatis dignissimos quia possimus esse vitae?</p>
          
                <h3>sigueme</h3>
                <a href="https://www.facebook.com" class="btn btn-sm btn-secondary-outline">Facebook</a>
                <a href="https://www.twitter.com" class="btn btn-sm btn-secondary-outline">Twitter</a>
                <a href="https://www.instagram.com" class="btn btn-sm btn-secondary-outline">Instagram</a>
              </div>
            </div>
          </div>
        </div>
</section> 