<div class="row">
    <div class="col-7">
        <img src="assets/img/prueba.jpeg" alt="">
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li *ngIf="cpu" class="list-group-item">Nombre  {{cpu.name}}</li>
                    <li *ngIf="cpu" class="list-group-item">Fabricante  {{cpu.fab}}</li>
                    <li *ngIf="cpu" class="list-group-item">Nucleos {{cpu.nucleos }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
<h2>Motherboard Compatibles</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Puerto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mother of motherCompatibles,index as i">
            <th scope="row">{{i+1}}</th>
            <td><a>{{mother.name}}</a></td>
            <td>{{mother.puerto}}</td>
        </tr>
    </tbody>
</table>
</div>    