
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <p *ngIf="cpu1">Nombre: {{cpu1.name}}</p>
                <p *ngIf="cpu1">Fabricante: {{cpu1.fab}}</p>
                <p *ngIf="cpu1">Socket: {{cpu1.socket}}</p>
                <p *ngIf="cpu1">Frecuencia: {{cpu1.frequency}}</p>
                <p *ngIf="cpu1">Nucleos: {{cpu1.nucleos}}</p>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <form >
            <div class="form-group">
                <label for="inputCpu">Elige para comparar</label>
                <select  (change)="searchCpu($event)" id="inputCpu" class="form-control">
                    <option selected>Elige ...
                    </option>
                    <option *ngFor="let cpu of cpusForCompare">{{cpu.name}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-4">
        <div *ngIf="cpuForComparison" class="card">
        <div *ngIf="cpuForComparison" class="card-body">
        <p *ngIf="cpuForComparison">Name: {{cpuForComparison.name}}</p>
        <p *ngIf="cpuForComparison">Fabricante: {{cpuForComparison.fab}}</p>
        <p *ngIf="cpuForComparison">Socket: {{cpuForComparison.socket}}</p>
        <p *ngIf="cpuForComparison">Frecuncia: {{cpuForComparison.frequency}}</p>
        <p *ngIf="cpuForComparison">Nucleos: {{cpuForComparison.nucleos}}</p>
        </div>
        </div>
    </div>
</div>